:root { 
   --jqx-accent-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-header-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-header-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-border-color-custom-deafult: rgba(221, 221, 221, 1);
   --jqx-border-radius-custom-deafult: 4px;
   --jqx-font-family-custom-deafult: "Roboto", "Helvetice Neue", "Helvetica", "Arial", sans-serif;
   --jqx-font-size-custom-deafult: 14px;
   --jqx-hovered-state-text-color-custom-deafult: rgba(51, 51, 51, 1);
   --jqx-hovered-state-background-color-custom-deafult: rgba(240, 240, 240, 1);
   --jqx-hovered-state-content-text-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-hovered-state-content-background-color-custom-deafult: rgba(225, 245, 254, 1);
   --jqx-focused-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-focused-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-active-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-active-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-arrow-up-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-arrow-up-hovered-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-arrow-down-hovered-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-arrow-up-selected-color-custom-deafult: url('images/metro-icon-up-white.png');
   --jqx-arrow-down-selected-color-custom-deafult: url('images/metro-icon-down-white.png');
   --jqx-accordion-item-title-text-color-custom-deafult: rgba(51, 51, 51, 1);
   --jqx-accordion-item-title-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-accordion-item-title-border-color-custom-deafult: rgba(224, 224, 224, 1);
   --jqx-accordion-item-title-hovered-text-color-custom-deafult: rgba(51, 51, 51, 1);
   --jqx-accordion-item-title-hovered-background-color-custom-deafult: rgba(246, 246, 246, 1);
   --jqx-accordion-item-title-hovered-border-color-custom-deafult: rgba(246, 246, 246, 1);
   --jqx-accordion-item-title-selected-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-accordion-item-title-selected-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-accordion-item-title-selected-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-accordion-item-title-focused-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-accordion-item-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-accordion-item-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-accordion-item-focused-text-color-custom-deafult: rgba(224, 224, 224, 1);
   --jqx-accordion-item-focused-background-color-custom-deafult: rgba(253, 253, 253, 1);
   --jqx-accordion-item-focused-border-color-custom-deafult: rgba(224, 224, 224, 1);
   --jqx-accordion-arrow-up-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-accordion-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-accordion-arrow-up-hovered-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-accordion-arrow-down-hovered-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-accordion-arrow-down-selected-color-custom-deafult: url('images/metro-icon-up-white.png');
   --jqx-button-default-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-button-default-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-button-default-hovered-state-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-button-default-hovered-state-background-color-custom-deafult: rgba(240, 240, 240, 1);
   --jqx-button-default-focused-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-default-focused-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-button-default-active-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-default-active-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-button-primary-text-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-button-primary-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-primary-hovered-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-primary-hovered-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-button-primary-focused-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-primary-focused-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-button-primary-active-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-primary-active-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-button-success-text-color-custom-deafult: rgba(92, 184, 92, 1);
   --jqx-button-success-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-success-hovered-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-success-hovered-state-background-color-custom-deafult: rgba(92, 184, 92, 1);
   --jqx-button-success-focused-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-success-focused-state-background-color-custom-deafult: rgba(92, 184, 92, 1);
   --jqx-button-success-active-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-success-active-state-background-color-custom-deafult: rgba(92, 184, 92, 1);
   --jqx-button-warning-text-color-custom-deafult: rgba(240, 173, 78, 1);
   --jqx-button-warning-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-warning-hovered-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-warning-hovered-state-background-color-custom-deafult: rgba(240, 173, 78, 1);
   --jqx-button-warning-focused-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-warning-focused-state-background-color-custom-deafult: rgba(240, 173, 78, 1);
   --jqx-button-warning-active-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-warning-active-state-background-color-custom-deafult: rgba(240, 173, 78, 1);
   --jqx-button-danger-text-color-custom-deafult: rgba(217, 83, 79, 1);
   --jqx-button-danger-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-danger-hovered-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-danger-hovered-state-background-color-custom-deafult: rgba(217, 83, 79, 1);
   --jqx-button-danger-focused-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-danger-focused-state-background-color-custom-deafult: rgba(217, 83, 79, 1);
   --jqx-button-danger-active-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-danger-active-state-background-color-custom-deafult: rgba(217, 83, 79, 1);
   --jqx-button-info-text-color-custom-deafult: rgba(91, 192, 222, 1);
   --jqx-button-info-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-info-hovered-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-info-hovered-state-background-color-custom-deafult: rgba(91, 192, 222, 1);
   --jqx-button-info-focused-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-info-focused-state-background-color-custom-deafult: rgba(91, 192, 222, 1);
   --jqx-button-info-active-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-button-info-active-state-background-color-custom-deafult: rgba(91, 192, 222, 1);
   --jqx-editors-text-editors-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-editors-text-editors-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-editors-text-editors-border-color-custom-deafult: rgba(221, 221, 221, 1);
   --jqx-editors-text-editors-border-radius-custom-deafult: 4px;
   --jqx-editors-text-editors-focused-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-editors-datеtimeinput-calendar-icon-color-custom-deafult: url('images/icon-calendar.png');
   --jqx-editors-datеtimeinput-calendar-icon-selected-color-custom-deafult: url('images/icon-calendar-white.png');
   --jqx-editors-combobox-multi-item-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-editors-combobox-multi-item-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-editors-calendar-header-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-editors-calendar-header-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-editors-calendar-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-editors-calendar-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-editors-calendar-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-editors-calendar-today-cell-text-color-custom-deafult: rgba(137, 137, 137, 1);
   --jqx-editors-calendar-today-cell-background-color-custom-deafult: rgba(255, 255, 219, 1);
   --jqx-editors-calendar-today-cell-border-color-custom-deafult: rgba(253, 192, 102, 1);
   --jqx-editors-calendar-current-month-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-editors-calendar-other-month-text-color-custom-deafult: rgba(137, 137, 137, 1);
   --jqx-editors-calendar-hovered-cell-text-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-editors-calendar-hovered-cell-background-color-custom-deafult: rgba(225, 245, 254, 1);
   --jqx-editors-calendar-selected-cell-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-editors-calendar-selected-cell-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-editors-switch-thumb-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-editors-switch-on-label-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-editors-switch-on-label-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-editors-switch-off-label-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-editors-switch-off-label-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-editors-file-uploader-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-editors-file-uploader-filename-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-grid-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-grid-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-grid-header-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-grid-header-text-weight-custom-deafult: normal;
   --jqx-grid-header-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-grid-row-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-grid-row-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-grid-row-alternation-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-grid-row-alternation-background-color-custom-deafult: rgba(249, 249, 249, 1);
   --jqx-grid-hovered-row-text-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-grid-hovered-row-background-color-custom-deafult: rgba(225, 245, 254, 1);
   --jqx-grid-selected-row-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-grid-selected-row-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-grid-selected-row-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-grid-group-row-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-grid-group-row-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-grid-editor-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-grid-editor-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-grid-pinned-cells-background-color-custom-deafult: rgba(229, 229, 229, 1);
   --jqx-grid-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-grid-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-grid-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-grid-close-button-color-custom-deafult: url('images/close.png');
   --jqx-grid-arrow-down-hovered-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-grid-arrow-right-hovered-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-grid-arrow-left-hovered-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-grid-arrow-down-selected-color-custom-deafult: url('images/metro-icon-down-white.png');
   --jqx-grid-arrow-right-selected-color-custom-deafult: url('images/metro-icon-right-white.png');
   --jqx-grid-arrow-left-selected-color-custom-deafult: url('images/metro-icon-left-white.png');
   --jqx-grid-header-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-grid-header-arrow-up-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-grid-menu-button-color-custom-deafult: url('images/icon-menu-small.png');
   --jqx-grid-groups-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-grid-groups-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-grid-groups-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-list-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-list-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-list-header-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-list-header-background-color-custom-deafult: rgba(255, 255, 255, 0.5);
   --jqx-list-hovered-item-state-text-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-list-hovered-item-state-background-color-custom-deafult: rgba(225, 245, 254, 1);
   --jqx-list-selected-item-state-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-list-selected-item-state-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-list-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-list-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-list-arrow-left-selected-color-custom-deafult: url('images/metro-icon-left-white.png');
   --jqx-list-arrow-right-selected-color-custom-deafult: url('images/metro-icon-right-white.png');
   --jqx-menu-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-menu-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-menu-dropdown-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-menu-dropdown-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-menu-arrow-up-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-menu-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-menu-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-menu-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-menu-hovered-item-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-menu-hovered-item-background-color-custom-deafult: rgba(225, 245, 254, 1);
   --jqx-menu-selected-item-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-menu-selected-item-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-menu-selected-item-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-menu-arrow-up-selected-color-custom-deafult: url('images/metro-icon-up-white.png');
   --jqx-menu-arrow-down-selected-color-custom-deafult: url('images/metro-icon-down-white.png');
   --jqx-menu-arrow-left-selected-color-custom-deafult: url('images/metro-icon-left-white.png');
   --jqx-menu-arrow-right-selected-color-custom-deafult: url('images/metro-icon-right-white.png');
   --jqx-navbar-item-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-navbar-item-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-navbar-hovered-item-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-navbar-hovered-item-background-color-custom-deafult: rgba(240, 240, 240, 1);
   --jqx-navbar-selected-item-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-navbar-selected-item-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-overlays-content-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-overlays-content-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-overlays-shader-background-color-custom-deafult: rgba(0, 0, 0, 0.6);
   --jqx-overlays-popup-header-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-overlays-popup-header-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-overlays-tooltip-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-overlays-tooltip-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-overlays-toast-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-overlays-toast-info-background-color-custom-deafult: rgba(91, 192, 222, 1);
   --jqx-overlays-toast-warning-background-color-custom-deafult: rgba(240, 173, 78, 1);
   --jqx-overlays-toast-error-background-color-custom-deafult: rgba(217, 83, 79, 1);
   --jqx-overlays-toast-success-background-color-custom-deafult: rgba(92, 184, 92, 1);
   --jqx-pivotgrid-header-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-pivotgrid-header-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-pivotgrid-cell-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-pivotgrid-cell-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-pivotgrid-selected-cell-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-pivotgrid-selected-cell-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-pivotgrid-arrow-up-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-pivotgrid-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-pivotgrid-menu-button-color-custom-deafult: url('images/icon-menu-small.png');
   --jqx-progressbar-bar-background-color-custom-deafult: rgba(247, 247, 247, 1);
   --jqx-progressbar-selected-range-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-progressbar-label-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-scheduler-header-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-scheduler-header-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-scheduler-header-border-color-custom-deafult: rgba(221, 221, 221, 1);
   --jqx-scheduler-header-buttons-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-scheduler-header-buttons-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-scheduler-header-buttons-hovered-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-scheduler-header-buttons-hovered-background-color-custom-deafult: rgba(240, 240, 240, 1);
   --jqx-scheduler-header-buttons-selected-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-scheduler-header-buttons-selected-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-scheduler-border-color-custom-deafult: rgba(221, 221, 221, 1);
   --jqx-scheduler-not-work-time-cells-color-custom-deafult: rgba(238, 238, 238, 1);
   --jqx-scheduler-hovered-cell-background-color-custom-deafult: rgba(227, 245, 251, 1);
   --jqx-scheduler-hovered-cell-border-color-custom-deafult: rgba(227, 245, 251, 1);
   --jqx-scheduler-selected-cell-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-scheduler-selected-cell-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-scheduler-weeks-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-scheduler-weeks-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-scheduler-weeks-arrow-right-selected-color-custom-deafult: url('images/metro-icon-right-white.png');
   --jqx-scheduler-weeks-arrow-left-selected-color-custom-deafult: url('images/metro-icon-left-white.png');
   --jqx-scheduler-calendar-icon-color-custom-deafult: url('images/icon-calendar.png');
   --jqx-scheduler-calendar-icon-selected-color-custom-deafult: url('images/icon-calendar-white.png');
   --jqx-scrollbar-scrollbar-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-scrollbar-scrollbar-thumb-background-color-custom-deafult: rgba(246, 246, 246, 1);
   --jqx-scrollbar-scrollbar-thumb-hovered-background-color-custom-deafult: rgba(230, 230, 230, 1);
   --jqx-scrollbar-scrollbar-thumb-active-background-color-custom-deafult: rgba(217, 217, 217, 1);
   --jqx-scrollbar-scrollbar-arrow-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-scrollbar-arrow-up-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-scrollbar-arrow-down-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-scrollbar-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-scrollbar-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-scrollbar-scrollbar-arrow-hovered-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-scrollbar-arrow-up-hovered-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-scrollbar-arrow-down-hovered-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-scrollbar-arrow-left-hovered-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-scrollbar-arrow-right-hovered-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-scrollbar-scrollbar-arrow-active-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-scrollbar-arrow-up-active-color-custom-deafult: url('images/metro-icon-up.png');
   --jqx-scrollbar-arrow-down-active-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-scrollbar-arrow-left-active-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-scrollbar-arrow-right-active-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-scrollview-indicator-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-scrollview-selected-indicator-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-slider-slider-bar-background-color-custom-deafult: rgba(240, 240, 240, 1);
   --jqx-slider-selected-slider-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-slider-slider-thumb-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-slider-focused-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-slider-tooltip-text-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-slider-tooltip-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-slider-tooltip-border-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-slider-arrows-background-color-custom-deafult: rgba(255, 255, 255, 0);
   --jqx-slider-arrows-hovered-background-color-custom-deafult: rgba(240, 240, 240, 1);
   --jqx-slider-arrows-selected-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-slider-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-slider-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-slider-arrow-left-hovered-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-slider-arrow-right-hovered-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-slider-arrow-left-selected-color-custom-deafult: url('images/metro-icon-left-white.png');
   --jqx-slider-arrow-right-selected-color-custom-deafult: url('images/metro-icon-right-white.png');
   --jqx-tabs-header-background-color-custom-deafult: rgba(248, 248, 248, 1);
   --jqx-tabs-tab-text-color-custom-deafult: rgba(51, 51, 51, 1);
   --jqx-tabs-hovered-tab-text-color-custom-deafult: rgba(51, 51, 51, 1);
   --jqx-tabs-hovered-tab-background-color-custom-deafult: rgba(240, 240, 240, 1);
   --jqx-tabs-selected-tab-text-color-custom-deafult: rgba(25, 151, 198, 1);
   --jqx-tabs-selected-tab-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-tabs-selected-tab-bottom-border-color-custom-deafult: rgba(25, 151, 198, 1);
   --jqx-tabs-border-color-custom-deafult: rgba(221, 221, 221, 1);
   --jqx-tabs-content-text-color-custom-deafult: rgba(85, 85, 85, 1);
   --jqx-tabs-content-background-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-tabs-arrow-left-color-custom-deafult: url('images/metro-icon-left.png');
   --jqx-tabs-arrow-right-color-custom-deafult: url('images/metro-icon-right.png');
   --jqx-toolbar-background-color-custom-deafult: rgba(250, 250, 250, 1);
   --jqx-treeview-hovered-tree-item-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-treeview-hovered-tree-item-background-color-custom-deafult: rgba(225, 245, 254, 1);
   --jqx-treeview-selected-tree-item-color-custom-deafult: rgba(255, 255, 255, 1);
   --jqx-treeview-selected-tree-item-background-color-custom-deafult: rgba(0, 119, 190, 1);
   --jqx-treeview-arrow-expanded-color-custom-deafult: url('images/metro-icon-down.png');
   --jqx-treeview-arrow-collapsed-color-custom-deafult: url('images/metro-icon-down.png');
}